<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="/css/shopping-cart.css">
</head>
<body>
    <%- include('./partials/header')%>
    <main>
        <section>
        <div class="main-container">
        <div>
            <h1>TU CARRITO</h1>
        </div>
        <div class="list-container">
        <article class="product">
            <div class="productImage">
            <img src="/images/Guitarra Eléctrica Music Box.png" alt="Guitarra Eléctrica" class="immagen-producto">
            </div>
            <div class="description">
              <h3 class="name">Guitarra Electrica Fender Stratocaster Standar Mexico Rsw Sb</h3>
              <h4 class="cantidad">Cantidad
                <select name="cantidad" id="cantidad-productos">Cantidad
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </h4>
                <p class="underline">Eliminar</p>
            </div>
            <div>
              <h3 class="cost">$185.683,00</h3>
            </div>
        </article>
        <article class="product">
            <div class="productImage">
            <img src="/images/violin-stradella-mv1415.png" alt="Violin" class="immagen-producto">
            </div>
            <div class="description">
              <h3 class="name">Violin Stradella MV1415</h3>
              <h4 class="cantidad">Cantidad
                <select name="cantidad" id="cantidad-productos">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
               </h4>
                <p class="underline">Eliminar</p>
            </div>
            <div>
              <h3 class="cost">$25.720,00</h3>
            </div>         
        </article>
        <article class="product">
            <div class="productImage">
            <img src="/images/teclado-yamaha.png" alt="Teclado" class="immagen-producto">
            </div>
            <div class="description">
              <h3 class="name">Teclado Yamaha PSR Series PSR-EW410</h3>
              <h4 class="cantidad">Cantidad
                <select name="cantidad" id="cantidad-productos">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </h4>
                <p class="underline">Eliminar</p>
            </div>
            <div>
              <h3 class="cost">$63.561,00</h3>
            </div>
        </article>
        </div>
        
        <article class="subtotal">
           <div class="total-item">
            <h4>Productos(3)</h4>
            <a href="#">Calcular envío</a>
            </div>
            <div>
            <h4 class="cost">$274.964,00</h4>
            <p>$0</p>
            </div>
        </article>

        <article class="total"> 
            <div class="total-cost">
              <div>
                 <h3>Total</h3>
              </div>
              <div>
            <h3 class="final-cost">$274.964,00</h3>
              </div>
            </div>          
            <button>Continuar</button>  
            <a href="/products" id="back">&lt Seguir Comprando</a>
        </article> 
        
        </div>
        
        </section>
    </main>
    <%- include('./partials/footer')%>
    
</body>
</html>
